.basic-hero {
  position: relative;
  padding: 40px 40px 40px 40px;
  height: 80vh;
  min-height: 400px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.hero-fondo {
  z-index: 0;
  position: absolute;
}

.hero-superficie {
  z-index: 2;
}



@media(max-width:900px) {
  .basic-hero {
    padding: 20px;
    justify-content: center;
  }

  .hero-fondo-MD {
    z-index: 0;
    position: absolute;
    filter: blur(2px);
  }

  .hero-superficie-MD {
    z-index: 2;
  }

  .basic-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80vh;
    min-height: 400px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }
}